<%- if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path %> <br />
<%end %>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.type %></td>
        <td><%= r.email %></td>
        <td><%= link_to "Show"%></td>
         </tr>
    <% end %>
  </tbody>
</table>


