<style>
  h1 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
</style>

<h1>User Profile</h1>
<p><strong>ID:</strong> <%= current_user.id %></p>
<p><strong>Name:</strong> <%= current_user.name %></p>
<p><strong>Email:</strong> <%= current_user.email %></p>
<p><strong>User Type:</strong> <%= current_user.type %></p>

<%= link_to "Back", restaurants_path, class: 'btn btn-secondary' %>
  <%= button_to "EDIT PROFILE", edit_user_registration_path, method: :get, class: "button-shape" %>

<% if current_user.type == "Owner" %>
  <%= link_to "Show My Restaurants", my_restaurants_list_restaurants_path, class: 'btn btn-primary' %>
<% end %>
