
<style>
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    background-color: #fff;
  }

  .btn-show {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-show:hover {
    background-color: #0056b3;
  }

  a {
    text-decoration: none;
    color: #007bff;
  }

  a:hover {
    text-decoration: underline;
  }
</style>

<body>
  <h1>Your Order</h1>

  <% if @order.any? %>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Address</th>
          <!-- <th>Status</th> -->
          <th>Actions</th>
          <th>payment_status</th>
        </tr>
      </thead>
      <tbody>
        <% total_amount = 0 %>
        <% @order.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.address %></td>
            <!-- <td><%= order.payment_status %></td> -->
            <td>
              <%= link_to 'Show', order_path(order), class: 'btn-show', method: :get %>
            </td>
            <td>
              <% byebug %>
               <%= link_to "Pay now", create_payment_order_path(order), method: :post %>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>

    <%= link_to 'Continue Shopping', dishes_path %>
  <% end %>
</body>

