
<body>
  <h1>Add to Cart</h1>

  <%# <%= render 'cart_item_partial' %> 

  <%= form_with url: carts_path, method: :post, local: true do |form| %>
    <label for="dish_id">Dish ID:</label>
    <%= form.number_field :dish_id, required: true %>

    <label for="quantity">Quantity:</label>
    <%= form.number_field :quantity, required: true %>

    <%= form.submit 'Add to Cart' %>
  <% end %>

  <%= link_to 'View Cart', carts_path %>
</body>
