<%# 
<body>
  <h1>Add to Cart</h1>
  <%= form_with url: carts_path, method: :post, local: true do |form| %>
    <%# <label for="dish_id">Dish ID:</label>
    <%= form.number_field :dish_id, required: true %>

    <%# <label for="quantity">Quantity:</label>
    <%= form.number_field :quantity, required: true %>

    <%# <%= form.submit 'Add to Cart' %>
  <%# <% end %>

  <%# <%= link_to 'View Cart', carts_path %>
<%# </body> %>


  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 24px;
      color: #007bff;
      margin-bottom: 20px;
    }

    .flash-notice {
      color: #28a745;
      margin-bottom: 10px;
    }

    .flash-alert {
      color: #dc3545;
      margin-bottom: 10px;
    }

    form {
      width: 100%;
      max-width: 400px;
      margin: 20px auto;
      background-color: #fff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    .btn-primary {
      display: inline-block;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn-primary:hover {
      background-color: #0056b3;
    }
  </style>
<body>
  <h1>Add to Cart</h1>

  <% if flash[:notice] %>
    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="flash-alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= form_with url: carts_path, method: :post, local: true do |form| %>
    <label for="dish_id">Select Dish:</label>
    <%= form.grouped_collection_select :dish_id, Restaurant.all.order(:name), :dishes, :name, :id, :name, { prompt: "Choose a Dish" }, required: true %>

    <label for="quantity">Quantity:</label>
    <%= form.number_field :quantity, required: true %>

    <%= form.submit 'Add to Cart', class: 'btn-primary' %>
  <% end %>

  <%= link_to 'View Cart', carts_path, class: 'btn-primary' %>
</body>


