<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart Item Details</title>

  <style>
    .actions {
      display: flex;
      gap: 5px;
    }

    .btn-edit, .btn-delete {
      display: inline-block;
      text-decoration: none;
      padding: 8px 16px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn-edit {
      background-color: #ffc107;
      color: #000;
    }

    .btn-delete {
      background-color: #dc3545;
      color: #fff;
    }

    .btn-edit:hover, .btn-delete:hover {
      background-color: #0056b3;
    }
  </style>

</head>

<body>
  <h1>Cart Item Details</h1>

  <% if flash[:alert] %>
    <div class="flash-alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <p><strong>Cart Item ID:</strong> <%= @cart_item.id %></p>
  <p><strong>Dish ID:</strong> <%= @cart_item.dish_id %></p>
  <p><strong>Dish Name:</strong> <%= @cart_item.dish.name %></p>
  <p><strong>Category:</strong> <%= @cart_item.dish.category %></p>
  <p><strong>Restaurant:</strong> <%= @cart_item.dish.restaurant.name %></p>
  <p><strong>Dish Price:</strong> <%= @cart_item.dish.price %></p>
  <p><strong>Quantity:</strong> <%= @cart_item.quantity %></p>

  <div class="actions">
    <%= link_to 'Back to Cart', carts_path %>
    <%= link_to "Remove", cart_path(@cart_item), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: 'btn-delete' %>
    <%= link_to 'Edit', edit_cart_path(@cart_item), class: 'btn-edit', method: :post %>
  </div>
</body>

</html>
