<style>
  table {
    background-color: pink;
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #000;
    padding: 8px;
    background-color: #847e7e;
  }

  th {
    color: green;
    background-color: black;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
  }

  .search-form {
    margin-bottom: 20px;
  }

  .search-input {
    padding: 5px;
    border: 1px solid #007bff;
  }

  .search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
  }

  .search-button:hover {
    background-color: #0056b3;
  }
</style>

<h3>Dish List</h3>

<div class="search-form">
  <%= form_tag(dishes_path, method: :get) do %>
   <!--  <%= text_field_tag :name, params[:name], placeholder: 'Search by Name', class: 'search-input' %> -->
    <%= select_tag :category_id, options_for_select(Category.all.map { |c| [c.name, c.id] }, params[:category_id]), include_blank: 'Select Category', class: 'search-input' %>
    <%= submit_tag 'Search', class: 'search-button' %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Dish_id</th>
      <th>Name</th>
      <th>Price</th>
      <!-- <th>Restaurant</th> -->
      <th>Category</th>
      <th>Other details</th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |d| %>
      <tr>
        <td><%= d.id %></td>
        <td><%= d.name %></td>
        <td><%= d.price %></td>
        <!-- <td><%= Restaurant.find_by_id(d.restaurant_id).name %></td> -->
        <td><%= Category.find_by_id(d.category_id).name %></td>
        <td><%= link_to "Show", dish_path(d), class: "button" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", restaurants_path, class: 'btn btn-primary' %>
<!--
  <tbody>
    <% @dishes.each do |d| %>
      <tr>
        <td>
          <% if d.picture.attached? %>
          <a href="<%= dish_path(d) %>">
            <%= image_tag(d.picture, size: "200x160") %>
          </a>
          <% else %>
          <%=image_tag("test_image.png", size: "220x180") %>
          <% end %>
        </td>
        <td class="dish-details">
          <div>
            <p>Dish_id: <%= d.id %></p>
            <p>Name: <%= d.name %></p>
            <p>Price: <%= d.price %></p>
            <p>Category: <%= Category.find_by_id(d.category_id).name%></p>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody> -->
