<!-- app/views/dishes/show.html.erb -->

<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }

  h1 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
  }

  .btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .btn-edit {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
  }

  .btn-edit:hover {
    background-color: #117a8b;
    border-color: #10707f;
  }

  .btn-delete {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
  }

  .btn-delete:hover {
    background-color: #c9302c;
    border-color: #ac2925;
  }

  .quantity-input {
    width: 50px;
    text-align: center;
  }
</style>

<h1>Dish Details</h1>

<%= image_tag(@dish.picture, size: "250x250") if @dish.picture.attached? %>
<p><strong>Dish ID:</strong> <%= @dish.id %></p>
<p><strong>Dish Name:</strong> <%= @dish.name %></p>
<p><strong>Price:</strong> <%= @dish.price %></p>
<p><strong>Restaurant:</strong> <%= Restaurant.find_by_id(@dish.restaurant_id).name %></p>
<p><strong>Category:</strong> <%= Category.find_by_id(@dish.category_id).name %></p>

<% if current_user.type == 'Owner' %>
  <%= link_to "Back", dishes_path, class: 'btn btn-primary' %>
  <% if @dish.restaurant.owner == current_user %>
    <%= link_to "Edit dish", edit_dish_path(@dish), class: 'btn btn-edit' %>
    <%= link_to "Delete dish", dish_path(@dish), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, class: 'btn btn-delete' %>
  <% end %>
<% elsif current_user.type == 'Customer' %>
  <%= link_to "Back", dishes_path, class: 'btn btn-primary' %>
  <%= link_to "Add to cart", new_cart_path, class: 'btn btn-primary' %>
<% end %>