<style>
  .body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
  }

  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 40px 10px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    position: relative;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    display: inline-block;
    margin: 10px 10px 20px 0;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px; /* Adjusted padding */
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 10px 20px 10px; /* Adjusted margin */
    cursor: pointer;
  }

  .error-message {
    color: #dc3545;
  }

  /* Added CSS for the back button and bold headings */
  a.back-btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  h1, h2 {
    font-weight: bold;
  }
</style>

<div class="body-container">
  <div class="container">
    
    <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <div class="<%= type %>">
          <%= msg %>
        </div>
      <% end %>
    <% end %>

    <%= form_with(model: @restaurant, url: restaurant_path(@restaurant), method: :patch) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Restaurant Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :status, 'Status' %>
        <%= select_tag "status", options_for_select(["open", "close"], @restaurant.status), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :address, 'Address' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :restaurant_image, "Picture" %>
        <%= f.file_field :picture %>
      </div>

      <div class="actions">
        <%= f.submit 'Update Restaurant', class: 'btn btn-primary' %>
        <%= link_to "Back", restaurants_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
