<h1>Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Status</th>
      <th>Owner_Id</th>

    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.address %></td>
        <td><%= r.status %></td>
        <td><%= User.find_by_id(r.owner.id).name %></td>
        <td><%= link_to "Show", restaurant_path(r) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "profile", current_user_profile_path %>

<br>
