<style>
  .form-group {
    margin-bottom: 20px;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }

  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }

  .error-message {
    color: #dc3545;
  }
</style>

<% if current_user.type == 'Owner' %>
  <%= form_with model: @restaurant, url: restaurants_path, method: :post do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Restaurant Name' %>
      <%= f.text_field :name, class: 'form-control' %>
      <% @restaurant.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
     <% end %>
    </div>
    <div class="form-group">
      <%= f.label :address, 'Address' %>
      <%= f.text_field :address, class: 'form-control' %>
       <% @restaurant.errors.full_messages_for(:address).each do |message| %>
         <div><%= message %></div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :status, 'Status' %>
      <%= f.select :status, Restaurant.statuses.keys, {}, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit 'Create Restaurant', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <p class="error-message">You cannot create a restaurant.</p>
<% end %>
<%= link_to "User Profile", current_user_profile_path, class: 'btn btn-secondary' %>
<%= link_to "Back", restaurants_path, class: 'btn btn-secondary' %>
<%- if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, class: 'btn btn-danger' %> <br />
<% end %>
