<style>
  h1 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .btn-primary {
    display: inline-block;
    text-decoration: none; /* not underline  */
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;

    background-color:  #2c3e50;
    color: #fff;
  }

  .btn-danger {
    display: inline-block;
    text-decoration: none; /* not underline  */
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #fff;
  }
</style>
<% if flash.any? %>
    <% flash.each do |type, msg| %>
    <div>
    <%= msg %>
    </div>
    <% end %>
  <% end %>

<h1>Restaurant Details</h1>

<%= image_tag(@restaurant.picture,size: "250x250") if @restaurant.picture.attached? %>
<p><strong>Restaurant ID:</strong> <%= @restaurant.id %></p>
<p><strong>Restaurant Name:</strong> <%= @restaurant.name %></p>
<p><strong>Status:</strong> <%= @restaurant.status %></p>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Owner:</strong> <%= User.find_by_id(@restaurant.owner.id).name %></p>

<%= link_to "Back", restaurants_path, class: 'btn btn-primary' %>

<%- if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, class: 'btn btn-primary' %> <br />
<% end %>

<%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant), class: 'btn btn-primary' %>

<%= link_to "Add Dish", new_dish_path, class: 'btn btn-primary' %>

<%= link_to "delete restaurant", restaurant_path(@restaurant), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class: 'btn btn-primary'  %>

